* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
form {
  /* centraliza o form na pagina */
  margin: 0 auto;
  width: 400px;

  /* para ver as bordas do form */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* alinha as labels */
  display: inline-block;
  width: 90px;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* dá destaque aos elementos ativos*/
  border-color: #000;
}

textarea {
  /* alinha campos de texto de varias linhas com a label*/
  vertical-align: top;

  /*da espaço o suficiente para digitar o texto*/
  height: 5em;

  /*permite redimensionar qualquer textarea verticalmente (nao funciona em todos os browsers)*/
  resize: vertical;
}

.button {
  /* posiciona botoes na mesma posição que os campos de texto*/
  padding-left: 90px;

}
button {
  margin-left: 0.5em;
}